@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Nanum Gothic', sans-serif;
}

ul {
    list-style: none;
}

#Xc #Nametag {
    background-color: #20c5b0;
    height: 30px;
    color: white;
    text-align: right;
    padding-right: 10px;
}

#Nametag>p {
    display: block;
    padding-top: 5px;
}

#Header {
    height: 240px;
}

#Header>.header_content {
    height: 235px;
    margin-left: 1%;
    margin-right: 1%;
    border-bottom: solid 1px black;
}

.header_content .header_icons {
    float: right;
    height: 30px;
    width: 100px;
    background-color: black;
}

.header_content .header_banner {
    height: 162px;
    border-bottom: solid 1px black;
}

.header_content .header_menu {
    height: 73px;
}

#Container {
    margin: 0 auto;
    width: 1325.44px;
}

#Container>div {
    margin-top: 70px;
}

.common_sector {
    background-color: yellow;
    margin-top: 70px;
    width: 1325.44px;
}

.common_sector .common_sector_head {
    height: 60px;
    margin-bottom: 30px;
}

.common_sector_body>div {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 16px;
    padding-right: 16px;

}

.common_merchandise {
    height: 392px;
    width: 296px;
    display: inline-block;
    background-color: aqua;
}

.common_merchandise .img {
    height: 296px;
    background-color: violet;
}

.common_merchandise .img>img {
    width: 296px;
    height: 296px;
}

.common_merchandise .text {
    height: 38px;
    background-color: orange;
}

.common_merchandise .price {
    height: 25px;
    background-color: bisque;
}

.common_merchandise .tag {
    margin-top: 14px;
    height: 19px;
    background-color: white;
}

.wide_sector .wide_sector_head {
    height: 32px;
    padding-bottom: 19px;
    border-bottom: solid 1px black;
}

.wide_sector .wide_sector_body {
    height: 230px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 70px;
}

.wide_img {
    width: 400px;
    height: 230px;
    float: left;
}

.wide_img>img {
    width: 400px;
    height: 230px;
}

.wide_desc {
    width: 900px;
    margin-left: 440px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.wide_title {
    height: 30px;
}

.wide_content {
    height: 60px;
}

.wide_tag {
    height: 20px;
}

.wide_sub_desc {
    height: 50px;
}

.wide_sub_desc>* {
    display: inline-block;
}

.wide_sub_merchandise {
    width: 290px;
    height: 50px;
}

.wide_sub_merchandise>img {
    width: 50px;
    height: 50px;
}

.wide_sub_merchandise>div {
    width: 230px;
    height: 50px;
    float: right;
}

.wide_sub_merchandise>div>p {
    width: 230px;
    height: 20px;
    padding-top: 10px;
}

.wide_sub_merchandise>div>strong {
    width: 230px;
    height: 18px;
    margin-top: 4px;
}

.review_sector {
    margin-top: 70px;
    background-color: #f2f4f7;
}

.review_sector .review_sector_head {
    height: 32px;
    margin-bottom: 30px;
}

.review_sector .review_sector_body {
    padding: 0 auto;
    padding-bottom: 70px;
}

.review_merchandise_short {
    width: 1261.44px;
    margin: 0 auto;
}

.review_merchandise_short .review_merchandise {
    width: 296px;
    height: 486px;
    padding: 0 8px;
    display: inline-block;
    background-color: #20c5b0;
    margin: 20px 0;
}

.review_merchandise .review_img {
    width: 296px;
    height: 296px;
}

.review_img>img {
    width: 296px;
    height: 296px;
}

.review_merchandise .review_content {
    padding: 20px 18px;
    padding-top: 51px;
    border-bottom: solid #ededed;
    border-left: solid #ededed;
    border-right: solid #ededed;
}

.review_content .review_text {
    height: 36px;
}

.review_content .review_personal {
    height: 18px;
    margin-top: 10px;
    margin-bottom: 18px;
}

.review_content .review_title {
    border-top: solid #ededed;
    height: 15px;
    padding-top: 16px;
}

.review_merchandise_long {
    width: 1259.44px;
    border: 1px solid #ededed;
    background-color: white;
    margin: 0 auto;
}

.review_merchandise_long .review_merchandise {
    width: 1158px;
    height: 80px;
    padding: 25px 0;
}

.review_merchandise_long .merchandise_img {
    width: 80px;
    height: 80px;
    float: left;
}

.review_merchandise_long .merchandise_img>img {
    width: 80px;
    height: 80px;
}

.review_merchandise_long .merchandise_text {
    width: 810px;
    height: 80px;
    float: left;
}

.review_merchandise_long .merchandise_text>.merchandise_content {
    height: 14px;
    padding-top: 21px;
}

.review_merchandise_long .merchandise_text>.merchandise_content>p {
    font-size: 14px;
    color: #666;
}

.review_merchandise_long .merchandise_text>.merchandise_title {
    margin-top: 10px;
    padding-bottom: 21px;
    height: 14px;
}

.review_merchandise_long .merchandise_text>.merchandise_title>p {
    font-size: 14px;
    color: #444;
}

.review_merchandise_long .merchandise_personal {
    margin: auto 0;
    width: 217.75px;
    height: 80px;
    float: right;
}

.merchandise_personal p {
    padding-top: 33px;
    font-size: 14px;
    margin: auto 0;
}

.review_merchandise_long .merchandise_personal>div {
    height: 14px;
    float: right;
}

.review_merchandise_long_block {
    padding-bottom: 70px;
}

#footer {
    width: 1275.44px;
    height: 92px;
    padding: 25px;
    border-top: solid 1px;
    margin: 0 auto;
}

#footer .notice {
    text-align: center;
}

.notice span {
    display: block;
}

#footer .site_desc {
    margin-top: 30px;
    text-align: center;
}